<footer
	class="fixed bottom-0 left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
	<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
		>© 2022 <a href="https://flowbite.com/" class="hover:underline">Garage Sale Near Me</a>. All
		Rights Reserved.
	</span>
	<ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
		<li>
			<a href="mailto:contact@garagesales.com" class="hover:underline">Contact</a>
		</li>
	</ul>
</footer>
