<script lang="ts">
	import { user_zip, getcoorszip, user_coord } from '$lib/stores/saleStore';
	import mapboxgl from 'mapbox-gl';
	import { onMount } from 'svelte';
	mapboxgl.accessToken =
		'pk.eyJ1IjoicGNhbWlub2ciLCJhIjoiY2w5cms4ZHlvMDJoYjNvbXlqdDQ5NGEwYSJ9.THroavC6uRqB1YY8ebB_JQ';
	// 'pk.eyJ1IjoicGNhbWlub2ciLCJhIjoiY2xhOXE0Z2FqMDA0azN2b2x6MWN1Ynk3eSJ9.moO_izmgQyFYWqO6CFp-AA';

	let reg = /(.*),(.*)/;

	export let locations: any;
	console.log(locations);
	let arrayco: number[];
	let centerMap: any = [-93.3894092, 40.3922944];
	let zoomMap: number = 3;
	let map: any;

	onMount(async () => {
		map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: centerMap,
			zoom: zoomMap
		});

		if (locations != undefined) {
			locations.forEach((single_coordinates: any) => {
				let sigle = single_coordinates.coordinates;
				console.log(sigle);
				let m = sigle.match(reg);
				if (m != null) {
					arrayco = [Number(m[1]), Number(m[2])];
					const marker = new mapboxgl.Marker({
						color: '#09bfb8'
					})
						.setLngLat(arrayco)
						.addTo(map);
				}
			});
		}
	});

	$: if ($user_zip != '' && $user_zip != undefined) {
		getcoorszip($user_zip);
		map.flyTo({ center: $user_coord, zoom: 11 });
	}
</script>

<svelte:head>
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
</svelte:head>

<div
	class="shadow-md rounded-lg py-8 px-4 mx-auto max-w-screen-xl h-96 lg:py-16 lg:px-6"
	id="map"
/>
