<div class="grid grid-rows-2 place-items-center">
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-3">
			<div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
				<!-- Pricing Card -->

				<button
					href="#"
					class="items-center py-2 px-3 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
					>I'll be there</button
				>
				<!-- Pricing Card -->

				<button
					href="#"
					class="items-center py-2 px-3 text-sm font-medium text-center text-white bg-yellow-400  rounded-lg hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-400 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600"
					>Maybe I'll pass around</button
				>
				<!-- Pricing Card -->

				<button
					href="#"
					class=" items-center py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-600 dark:focus:ring-red-800"
					>Sorry I can't</button
				>
			</div>
		</div>
	</section>
</div>